.Navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Navbar .logo {
    width: 120px;
}

.Navbar-menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color: #49557e;
    font-size: 18px;
}

.Navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.Navbar button {
    background-color: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #49557e;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
}

.Navbar button:hover {
    background-color: #d3d6db;
}

.Navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
}

.Navbar li {
    cursor: pointer;
}

.Navbar-search-icon {
    position: relative;
}

.Navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -2px;
    right: -8px;
}